.logo {
  height: 38px;
}

.buttons {
  position: absolute;
  right: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.top-bar {
  border-bottom: solid;
  border-bottom-width: 0.1em;
  background-color: white;
  position: relative;
}
